streamlit
pandas
plotly
tensorflow
numpy
Pillow
scikit-learn
matplotlib
pandas-datareader
yfinance
statsmodels
seaborn
prophet
setuptools
wheel
pip
pystan
Cython
protobuf==3.20.1
selenium
