streamlit
pandas
plotly
tensorflow
numpy
Pillow
scikit-learn
matplotlib
pandas-datareader
yfinance
statsmodels
seaborn
fbprophet
protobuf>=3.9.2,<3.21
setuptools
wheel
pip
pystan
Cython
